###############################################################################
# AetherMUD modern FluffOS config (port 1123 telnet, 1130 websocket)
# Parallel track: does NOT touch live game on port 1122.
###############################################################################

name : AetherMUD-Modern

mud ip : 127.0.0.1

external_port_1 : telnet 1124
external_port_2 : websocket 1131

websocket http dir : /home/thurtea/aethermud/fluffos-modern/src/www

mudlib directory : /home/thurtea/aethermud/lib-modern

binary directory : /home/thurtea/aethermud/bin-modern

log directory : /home/thurtea/aethermud/lib-modern/log

include directories : /secure/include:/include

master file : /secure/daemon/master

simulated efun file : /secure/SimulEfun/SimulEfun

swap file : /adm/tmp/Nightmare.swp

debug log file : runtime

global include file : <global.h>

default fail message : What?

default error message : What?

time to clean up : 1200
time to reset : 1800
time to swap : 0

inherit chain size : 30
maximum evaluation cost : 1000000
maximum local variables : 30
maximum call depth : 150
maximum array size : 15000
maximum buffer size : 400000
maximum mapping size : 15000
maximum string length : 200000
maximum bits in a bitfield : 1200
maximum byte transfer : 10000
maximum read file size : 200000

hash table size : 7001
object table size : 1501
living hash table size : 256

gametick msec : 1000
heartbeat interval msec : 1000

sane explode string : 1
reversible explode string : 0
sane sorting : 1
warn tab : 0
wombles : 0
call other type check : 0
call other warn : 0
mudlib error handler : 1
no resets : 0
lazy resets : 0
randomized resets : 1
no ansi : 1
strip before process input : 1
this_player in call_out : 1
trace : 1
trace code : 0
interactive catch tell : 0
receive snoop : 1
snoop shadowed : 0
reverse defer : 0
has console : 1
noninteractive stderr write : 0
trap crashes : 1
old type behavior : 0
old range behavior : 0
warn old range behavior : 1
suppress argument warnings : 1
enable_commands call init : 1
sprintf add_justified ignore ANSI colors : 1
apply cache bits : 22
call_out(0) next level : 1000

maximum users : 40
evaluator stack size : 6000
compiler stack size : 600
